<configuration>
    <appender name="HTTP_IN_OUT" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>.logs/http/http-in-out.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>./logs/http/http-in-out.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
            <totalSizeCap>100MB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="APPLICATION" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>.logs/application/application.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>./logs/application/application.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
            <totalSizeCap>100MB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="LOKI" class="com.github.loki4j.logback.Loki4jAppender">
        <encoder class="com.github.loki4j.logback.LokiPatternEncoder">
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{36} - %msg%n</pattern>
        </encoder>

        <loki4jUrl>http://43.203.222.149:3100/loki/api/v1/push</loki4jUrl>
        <batchSize>5</batchSize>
        <batchMaxTime>1000</batchMaxTime>
        <staticLabels>
            <label name="app" value="springboot" />
        </staticLabels>
    </appender>

    <root level="INFO">
        <appender-ref ref="APPLICATION" />
        <appender-ref ref="LOKI"/>
    </root>

    <logger name="HTTP" level="INFO" additivity="false">
        <appender-ref ref="HTTP_IN_OUT" />
        <appender-ref ref="LOKI"/>
    </logger>
</configuration>